*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
}

body,
main{
    width: 100vw;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow:  20px 20px 30px hsla(241, 81%, 54%, 0.13);
    }
.card_left,
.card_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Card Left / Card Top */
.card_left{
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%) );
    border-radius: 30px;
    text-align: center;
    color: white;
}

.card_left h2 {
    font-weight: 700;
}
.circle{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 60%;
    background-image: linear-gradient(to top,  hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    margin-top: 50px;
    margin-bottom: 30px;
}

.circle span.p {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}

.circle span,
.text,
.card_left h2{
color: hsl(241, 100%, 89%);
}

.card_left .text{
    max-width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Card Right / Card Bottom */
.card_right div{
    display: flex;
    justify-content: space-around;
}

.card_right div,
.card_right h2,
.card_right button{
    width: 75%;
    margin: 8px;
    padding: 18px 0px ;
}

.card_right .reaction,
.card_right .memory,
.card_right .verbal,
.card_right .visual{
    border-radius: 10px;
}
.card_right div img {
    vertical-align: text-bottom;
}

.card_right h2,
.num,
strong{
    color: hsl(224, 30%, 27%);
}
.num{
    font-weight: 800; 
    color: hsla(224, 30%, 27%, 0.377);
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}
.memory{
    background-color:  hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%) ;
}
.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.card_right button{
    border-radius: 30px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    transition: .5s;
    border: none;
    margin-top: 30px;
    margin-bottom: 15px;
}
.card_right button:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%) );
}

.contato_pessoal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 5px;
}
.contato_pessoal p {
    color: #5e9dc7;
}
.contato_pessoal a{
    text-decoration: none;  
}

@media (max-width: 500px) {
    body{
        flex-direction: column-reverse;
        padding-top: 65px;
    }
    .box {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .card_left,
    .card_right{
            width: 100%;
    }

    .card_left{
        border-radius: 0px 0px 30px 30px;
    }

    .card_left h2{
        margin-top: 15px;
    
    }
    .circle{
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
    .card_left .text{
        max-width: 280px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}