*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green : hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}
html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--Dark-Blue);
    color: #fff;
}
main{
    max-width: 600px;
    background-color: var(--Dark-Grayish-Blue);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}
main .space{
    background-image: url(images/pattern-divider-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 20px;
    margin: 20px 0px 20px 0px ;

}
div .title{
    font-size: 13px;
    letter-spacing: 4px;
    color: var(--Neon-Green);
}
main .btn{
    position: absolute;
    bottom: -40px;
    background-color: var(--Neon-Green);
    padding: 20px;
    border-radius: 50%;
}
.btn svg{
    vertical-align: text-bottom;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px hsl(150, 100%, 66%);
}
#text{
    margin: 20px 0px 20px 0px;
    color: var(--Light-Cyan);
    font-size: 28px;
}
@media (max-width: 500px) {
    main{
        max-width: 365px;
    }
    .space{
        background-image: url(images/pattern-divider-mobile.svg);
    }
}